<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start" fill="clear">
      <ion-button color="funaprimary" class="backbtn" routerLink="/tabs/discover" routerDirection="back"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
      </ion-button>
    <ion-title>Your Watchlist</ion-title>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>


<ion-backdrop [visible]="true"></ion-backdrop>
<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item-sliding style="height: auto;">
      <ion-item style="height: auto;">
        <ion-thumbnail slot="start" style="height: auto; width: 70px;">
          <img alt="Silhouette of mountains" src="https://m.media-amazon.com/images/M/MV5BYjFkMTlkYWUtZWFhNy00M2FmLThiOTYtYTRiYjVlZWYxNmJkXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_FMjpg_UX1000_.jpg" />
        </ion-thumbnail>
        <ion-card-subtitle style="color: #fff;">
          XXXXXXXXXXXXXXXXXXXXXXXXX
        </ion-card-subtitle>
        <ion-card-subtitle><ion-chip class="gender" color="secondary">Secondary</ion-chip></ion-card-subtitle>
      </ion-item>
  
      <ion-item-options>
        <ion-item-option color="danger">Delete</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>
</ion-content>
